<section class="form">
  <div class="form_container container">
    <h2 class="form_title">ХОЧУ ПРЕДЛОЖЕНИЕ ПО ТУРУ</h2>
    <div class="form_wrapper">
      <form>
        <div class="form_input-wrapp">
          <input type="text" placeholder="Имя">
          <input type="email" placeholder="Email">
          <input type="phone" placeholder="Телефон">
        </div>

        <div class="form_btn-wrapp">
          <div class="dropdown-wrapp">
            <button type="button" class="dropdown">Страна тура</button>
            <div class="dropdown-content">
              <a class="link" href="#">Турция</a>
              <a class="link" href="#">Египет</a>
              <a class="link" href="#">Шри-Ланка</a>
              <a class="link" href="#">Доминикана</a>
            </div>
          </div>
          <button type="submit" class="btn-offer">Получить предложение</button>
        </div>
      </form>
    </div>
  </div>
</section>
