<section class="hero">
  <div class="swiper mySwiper-bg">
    <div class="swiper-wrapper">
      <div class="swiper-slide slide1"></div>
      <div class="swiper-slide slide2"></div>
      <div class="swiper-slide slide3"></div>
    </div>
    <div class="swiper-pagination mySwiper-pagination"></div>
  </div>
  <header class="header container">
    <div class="header_burger">
      <span></span>
    </div>
    <div class="logo">
      <a href="#"><img src="./img/logo.png" alt="logo"></a>
    </div>
    <div class="navigation">
      <div class="contact-info">
        <div class="contact-info_geo">
          <img src="./img/geolocation.svg" alt="facebook">
          <a href="https://www.google.com/maps/place/%D0%B2%D1%83%D0%BB%D0%B8%D1%86%D1%8F+%D0%9C%D0%B8%D1%80%D0%BE%D0%BD%D0%BE%D1%81%D0%B8%D1%86%D1%8C%D0%BA%D0%B0,+10,+%D0%A5%D0%B0%D1%80%D0%BA%D1%96%D0%B2,+%D0%A5%D0%B0%D1%80%D0%BA%D1%96%D0%B2%D1%81%D1%8C%D0%BA%D0%B0+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+61000/@50.001649,36.2342649,17z/data=!3m1!4b1!4m6!3m5!1s0x4127a0e705cde6cf:0xcde3c7990b76137e!8m2!3d50.0016456!4d36.2368398!16s%2Fg%2F11f6y9d6b7?entry=ttu" target="_blank">г. Харьков, ул. Мироносицкая 10</a>
        </div>
        <div class="contact-info_phone">
          <img src="./img/phone.svg" alt="phone">
          <span> <a href="tel:+380999908100">+38 (099) 990-81-00 (viber, telegram)</a></span>
        </div>
        <div class="contact-info_social">
          <img class="facebook" src="./img/facebook.svg" alt="facebook">
          <img src="./img/instagram.svg" alt="instagram">
        </div>
      </div>
      <nav class="menu">
        <a href="#" class="link">Главная</a>
        <div class="dropdown-wrapp">
          <a href="#" class="dropdown">Туры</a>
          <div class="dropdown-content">
            <a class="link" href="#">Горящие туры</a>
            <a class="link" href="#">Поиск тура</a>
            <a class="link" href="#">Туры по Украине</a>
            <a class="link" href="#">Экскурсионные туры</a>
            <a class="link" href="#">Week end туры</a>
          </div>
        </div>
        <a href="#" class="link">Страны</a>
        <div class="dropdown-wrapp">
          <a href="#" class="dropdown">Услуги</a>
          <div class="dropdown-content">
            <a class="link" href="#">Авиабилеты</a>
            <a class="link" href="#">Визовая поддержка</a>
            <a class="link" href="#">Индивидуальный трансфер</a>
            <a class="link" href="#">Подарочные сертификаты
            </a>
            <a class="link" href="#">Бронирование отелей
              и апартаментов</a>
            <a class="link" href="#">Как забронировать и
              оплатить тур</a>
          </div>
        </div>
        <a href="#" class="link">O компании</a>
        <a href="#" class="link">Контакты</a>
      </nav>
    </div>
  </header>
  <div class="mobile-menu">
    <svg class="close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256" width="50px" height="50px" fill-rule="nonzero"><g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.12,5.12)"><path d="M9.15625,6.3125l-2.84375,2.84375l15.84375,15.84375l-15.9375,15.96875l2.8125,2.8125l15.96875,-15.9375l15.9375,15.9375l2.84375,-2.84375l-15.9375,-15.9375l15.84375,-15.84375l-2.84375,-2.84375l-15.84375,15.84375z"></path></g></g></svg>
    <a href="#" class="link">Главная</a>
    <div class="dropdown-wrapp">
      <a href="#" class="dropdown">Туры</a>
      <div class="dropdown-content">
        <a class="link" href="#">Горящие туры</a>
        <a class="link" href="#">Поиск тура</a>
        <a class="link" href="#">Туры по Украине</a>
        <a class="link" href="#">Экскурсионные туры</a>
        <a class="link" href="#">Week end туры</a>
      </div>
    </div>
    <a href="#" class="link">Страны</a>
    <div class="dropdown-wrapp">
      <a href="#" class="dropdown">Услуги</a>
      <div class="dropdown-content">
        <a class="link" href="#">Авиабилеты</a>
        <a class="link" href="#">Визовая поддержка</a>
        <a class="link" href="#">Индивидуальный трансфер</a>
        <a class="link" href="#">Подарочные сертификаты
        </a>
        <a class="link" href="#">Бронирование отелей
          и апартаментов</a>
        <a class="link" href="#">Как забронировать и
          оплатить тур</a>
      </div>
    </div>
    <a href="#" class="link">O компании</a>
    <a href="#" class="link">Контакты</a>
  </div>
  <div class="offer">
    <div class="offer_container container">
      <h1 class="offer_title">Лучшие предложения по солнечному Египту из Харькова</h1>
      <button class="btn-offer" type="button">Получить предложение</button>
    </div>
  </div>
</section>
