<section class="our-advantages container">
  <h2 class="our-advantages_title">НАШИ ПРЕИМУЩЕСТВА</h2>
  <div class="our-advantages_inner">
    <img src="./img/man.png" alt="man" class="our-advantages_image">
    <div class="our-advantages_content">
      <div class="swiper mySwiper-content">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <p>
              Очень долго подбирали разные варианты для того, чтобы отпраздновать свой юбилейный День рождения в путешествии и не могли определиться... Решили обратиться за помощью в турагенство. Гульнара, выслушав все пожелания, предложила отдых в Турции, отель Justiniano Club Park Conti 5* в Окурджалар возле Аланьи. Мы очень благодарны ей за предложенный вариант!!!! Отдых получился отличный! Отель с большой ухоженной территорией, внимательный обслуживающий персонал. Отличный номер с видом на море.
            </p>
            <p>
              Очень долго подбирали разные варианты для того, чтобы отпраздновать свой юбилейный День рождения в путешествии и не могли определиться... Решили обратиться за помощью в турагенство. Гульнара, выслушав все пожелания, предложила отдых в Турции, отель Justiniano Club Park Conti 5* в Окурджалар возле Аланьи. Мы очень благодарны ей за предложенный вариант!!!! Отдых получился отличный! Отель с большой ухоженной территорией, внимательный обслуживающий персонал. Отличный номер с видом на море.
            </p>
            <p>
              Очень долго подбирали разные варианты для того, чтобы отпраздновать свой юбилейный День рождения в путешествии и не могли определиться... Решили обратиться за помощью в турагенство. Гульнара, выслушав все пожелания, предложила отдых в Турции, отель Justiniano Club Park Conti 5* в Окурджалар возле Аланьи. Мы очень благодарны ей за предложенный вариант!!!! Отдых получился отличный! Отель с большой ухоженной территорией, внимательный обслуживающий персонал. Отличный номер с видом на море.
            </p>
            <p>
              Sed tincidunt diam a massa pharetra faucibus. Praesent condimentum
              id arcu nec fringilla. Maecenas faucibus, ante et venenatis
              interdum, erat mi eleifend dui, at convallis nisl est nec arcu. Duis
              vitae arcu rhoncus, faucibus magna ut, tempus metus. Cras in nibh
              sed ipsum consequat rhoncus. Proin fringilla nulla ut augue tempor
              fermentum. Nunc hendrerit non nisi vitae finibus. Donec eget ornare
              libero. Aliquam auctor erat enim, a semper risus semper at. In ut
              dui in metus tincidunt euismod eget et lacus. Aenean et dictum urna,
              sed rhoncus lorem. Duis pharetra sagittis odio. Etiam a libero ut
              nisi feugiat tincidunt vel vitae turpis. Maecenas vel orci sit amet
              lorem hendrerit venenatis sollicitudin ut dui. Quisque rhoncus nibh
              in massa pretium scelerisque.
            </p>
          </div>
        </div>
        <div class="swiper-scrollbar"></div>
      </div>
    </div>
  </div>
</section>
