<section class="tours">
  <div class="container">
    <h2 class="tours_title tours--burning">Горящие туры</h2>
    <h2 class="tours_title">Популярные туры</h2>
  </div>
  <div class="tours_inner">
    <div class="swiper mySwiper-tours">
      <div class="swiper-wrapper">
        <div class="swiper-slide tours_card">
          <div class="tours_img">
            <img src="./img/slader1.png" alt="card">
          </div>
          <div class="tours_content">
            <h3 class="tours_name">8 марта в Cyrene Sharm hotel</h3>
            <span class="tours_data">(12.03.2018 — 19.03.2018)</span>
            <hr>
            <p class="tours_desc">Перелёт, питание по системе all inclusive, трансфер</p>
            <div class="tours_inner-wrapp">
              <span class="tours_price">1 259 грн <sup>/за 1 человека</sup></span>
              <button class="tours_btn"><img src="./img/arrow-right.png" alt="arrow"></button>
            </div>
          </div>
        </div>
        <div class="swiper-slide tours_card">
          <div class="tours_img">
            <img src="./img/slader2.png" alt="card">
          </div>
          <div class="tours_content">
            <h3 class="tours_name">8 марта в Cyrene Sharm hotel</h3>
            <span class="tours_data">(12.03.2018 — 19.03.2018)</span>
            <hr>
            <p class="tours_desc">Перелёт, питание по системе all inclusive, трансфер</p>
            <div class="tours_inner-wrapp">
              <span class="tours_price">1 259 грн <sup>/за 1 человека</sup></span>
              <button class="tours_btn"><img src="./img/arrow-right.png" alt="arrow"></button>
            </div>
          </div>
        </div>
        <div class="swiper-slide tours_card">
          <div class="tours_img">
            <img src="./img/slader2.png" alt="card">
          </div>
          <div class="tours_content">
            <h3 class="tours_name">8 марта в Cyrene Sharm hotel</h3>
            <span class="tours_data">(12.03.2018 — 19.03.2018)</span>
            <hr>
            <p class="tours_desc">Перелёт, питание по системе all inclusive, трансфер</p>
            <div class="tours_inner-wrapp">
              <span class="tours_price">1 259 грн <sup>/за 1 человека</sup></span>
              <button class="tours_btn"><img src="./img/arrow-right.png" alt="arrow"></button>
            </div>
          </div>
        </div>
        <div class="swiper-slide tours_card">
          <div class="tours_img">
            <img src="./img/slader2.png" alt="card">
          </div>
          <div class="tours_content">
            <h3 class="tours_name">8 марта в Cyrene Sharm hotel</h3>
            <span class="tours_data">(12.03.2018 — 19.03.2018)</span>
            <hr>
            <p class="tours_desc">Перелёт, питание по системе all inclusive, трансфер</p>
            <div class="tours_inner-wrapp">
              <span class="tours_price">1 259 грн <sup>/за 1 человека</sup></span>
              <button class="tours_btn"><img src="./img/arrow-right.png" alt="arrow"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>

</section>
